<body>
  <header>
<h1>ScrapBox</h1>
<span><%= link_to "", new_scrap_path, class: 'plus2' %></span>


<form id="form1" action="http://localhost:3000/scraps">
<input id="sbox"  id="s" name="s" type="textarea" placeholder="キーワードを入力" />
<input id="sbtn" type="submit" value="検索" />

</form>
</header>


<ul class="itemlist">
    <% @scraps.each do |scrap| %>
      <%= button_to edit_scrap_path(scrap), {method: :get, class: 'btn-square'} do %>

      <h1><%= scrap.title%></h1>
      <br>
      <br>
      <%= scrap.content %>

      <% end %>
    <% end %>
</ul>
<br>

</body>
<!-- <div class="my-parts"><span></span></div> -->
