<h1>ScrapBox</h1>
<table>
  <tbody>
    <% @scraps.each do |scrap| %>
      <tr>
        <td><%= link_to scrap.title, edit_scrap_path(scrap) %></td>
        <td><%= scrap.content %></td>
        <td><%= button_to (scrap.title and scrap.content), edit_scrap_path(scrap) ,{method: :get, class: "btn-square"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '追加', new_scrap_path %>
