<h1>ScrapBox</h1>
<table>
  <tbody>
    <% @scraps.each do |scrap| %>
      <tr>
        <td><%= link_to scrap.title, edit_scrap_path(scrap) %></td>
        <td><%= scrap.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '追加', new_scrap_path %>
