// Place all the styles related to the Scraps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
}
th,td {
        display: inline-block;
        width: auto;
        padding: 1em;
        // text-align: center;
}
thead {
    display: flex;
    float: left;
}
thead th:first-child:before {
   padding: 1em;
}
tbody {
    display: flex;
    width: auto;
}
body{
  background-color:  #dcdde0;
}
tbody tr {
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
}
input[type="text"]{
  font-size: 6em;
  width: 80vw;
  height: 10vw;
  margin-top: 10vw;
}

textarea{
  font-size: 2em;
  resize: none;
  width: 80vw;
  height: 30vw;
}



.btn-square {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    background: #AAAAAA;/*ボタン色*/
    color: #FFF;
    // border-bottom: solid 4px #627295;
    // border-radius: 2px;
    width: 200px;
    height: 200px;
    // position: absolute;
    top: 11% ;
    transform : translateX(0%);
    // -webkit-transform : translateY(-50%);
    // transform : translateY(-50%);
}

.btn-square:active {
/*ボタンを押したとき*/
-webkit-transform: translateY(4px);
transform: translateY(4px);/*下に動く*/
border-bottom: none;/*線を消す*/
}

.itemlist{
    display: flex;
    flex-wrap: wrap;
}

header { border-bottom: 1px solid #000; }
header{width: 100%;}
header{height: 100%;}
header > h1 { display: inline-block; }
header span { margin-left: 100px; }


/* 円 */
.plus2 {
    font-size: 40px;
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    border: 0.1em solid #41b059;
    border-radius: 100%;
}
/* 縦 */
.plus2::before {
    position: absolute;
    top: 0.2em;
    left: 0.6em;
    width: 0.2em;
    height: 1em;
    content: "";
    background-color: #41b059;
}
/* 横 */
.plus2::after {
    position: absolute;
    top: 0.6em;
    left: 0.2em;
    width: 1em;
    height: 0.2em;
    content: "";
    background-color: #41b059;
}

/*ブロック要素を中央寄せする*/
.blocktext {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

/*テキスト要素を中央寄せする*/
.textcenter {
    text-align: center;
}










/*フォーム全体*/
#form1{
display: flex;
position:relative;/*フォームの相対位置*/
max-width:12px;/*フォームのサイズ*/
margin-bottom:0px;/*フォームの下に余白*/
}
/*検索ボックス*/
#sbox{
position:absolute;/*フォームの絶対位置*/
left:330px;/*検索ボタンの位置調整*/
top:-70px;
outline:0;/*クリック時の青い枠線消す*/
height:20px;/*検索ボックスの高さ*/
width:400px;
padding:10px;/*テキスト位置調整*/
border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/
background:#eee;/*検索ボックスの背景カラー*/
font-size: 16px;
}
/*検索ボタン*/
#sbtn{
position:absolute;/*検索ボタンの絶対位置*/
width:70px;/*検索ボタンの横幅*/
height:45px;/*検索ボタンの縦幅*/
left:755px;/*検索ボタンの位置調整*/
top:-70px;
border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/
background:#7fbfff;/*検索ボタンの背景カラー*/
border:none;/*検索ボタンの枠線を消す*/
color:#fff;/*検索ボタンのテキストカラー*/
font-weight:bold;/*検索ボタンのテキスト太字*/
font-size: 16px;/*検索ボタンのフォントサイズ*/
}
/*検索ボタンマウスオーバー時*/
#sbtn:hover{
color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/
}
