// Place all the styles related to the Scraps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
}
th,td {
        display: block;
        width: auto;
        padding: 1em;
        text-align: center;
}
thead {
    display: flex;
    float: left;
}
thead th:first-child:before {
   padding: 1em;
}
tbody {
    display: flex;
    width: auto;
}
tbody tr {
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    border-top: 10px solid gray;
    border-left: 10px solid gray;
    border-bottom: 10px solid gray;
    border-right: 10px solid gray;
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 2px;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 12.5%;
    transform : translateX(-50%);
    // -webkit-transform : translateY(-50%);
    // transform : translateY(-50%);
}

.btn-square:active {
/*ボタンを押したとき*/
// position: absolute;
// top: 12.5%;
// transform : translateX(-50%);
// -webkit-transform: translateY(4px);
// transform: translateY(4px);/*下に動く*/
// border-bottom: none;/*線を消す*/
}
