// Place all the styles related to the Scraps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
}
th,td {
        display: inline-block;
        width: auto;
        padding: 1em;
        // text-align: center;
}
thead {
    display: flex;
    float: left;
}
thead th:first-child:before {
   padding: 1em;
}
tbody {
    display: flex;
    width: auto;
}
body{
  background-color:  #dcdde0;
}
tbody tr {
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    // border-top: 10px solid white;
    // border-left: 10px solid white;
    // border-bottom: 10px solid white;
    // border-right: 10px solid white;
}

.btn-square {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    background: #AAAAAA;/*ボタン色*/
    color: #FFF;
    // border-bottom: solid 4px #627295;
    // border-radius: 2px;
    width: 200px;
    height: 200px;
    // position: absolute;
    top: 11% ;
    transform : translateX(0%);



    // -webkit-transform : translateY(-50%);
    // transform : translateY(-50%);
}

.btn-square:active {
/*ボタンを押したとき*/
-webkit-transform: translateY(4px);
transform: translateY(4px);/*下に動く*/
border-bottom: none;/*線を消す*/
}

.box-wrapper{
  // border: 10px white;
  display: table;
  height: 200px;
  width: 200px;
  background-color: gray;


}
.box{
  display:inline-block;
  width:15em;
 // text-align:center;
 // margin:0 auto;
}
.itemlist{
    display: flex;
    flex-wrap: wrap;

}
